*.o
*~
.*.sw?
.DS_Store
.deps/
.gdb_history
.gdbinit
/aclocal.m4
/autom4te.cache/
/autotools/
/bootstrap_cmds-*.*
/build/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/mig.xcodeproj/project.xcworkspace/
/mig.xcodeproj/xcuserdata/
/migcom.tproj/lexxer.c
/migcom.tproj/migcom
/migcom.tproj/parser.c
/migcom.tproj/parser.h
Makefile
Makefile.in
tags
